#header {
    background-color: black;
    color: white;
    padding: 1px;
    margin-top: -22px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: inherit;
    font-size: 18px;
}
#container {
    position: relative;
    min-height: 150vh;
    background-image: url("img/IMG_4400.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
#input-box {
    width: 300px;
}

#footer {
    position: absolute;
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    /* padding: 1px;
    margin-top: -22px;
    margin-left: -8px;
    margin-right: -8px; */
    text-align: center;
    font-size: 18px;
}