header {
    background-color: black;
    color: white;
    padding: 1px;
    margin-top: -22px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: ;
    font-size: 18px;
}
body {
    background-color: rgb(211, 208, 203);
}
#input-box {
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    padding: 1px;
    margin-top: -22px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
    font-size: 18px;
}