@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

#header {
    background-image: url("img/IMG_4405.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 50vh;
    color: whitesmoke;
    padding: 1px;
    margin-top: -22px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: right;
    font-size: 50px;
}
#header h1 {
    font-family: 'Fredericka the Great', cursive;
    margin-right: 55px;
}

#container {
    background-color: rgb(73, 65, 65);
    padding-top: 1px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 25vh;
    color: white;

}

#display {
    margin: 2%;
}

#input-box {
    width: 300px;
    border-radius: 2px;
}

#footer {
    position: inherit;
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

#modal {
    
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}

.modal-buttons {
    color: darken(#c9beb8, 10%);
}

#input-box3 {
    border: 1px solid gray;
    border-radius: 2px;
    width: 305px;
    margin: 5px auto;
}

#input-box4 {
    border: 1px solid gray;
    border-radius: 2px;
    height: 90px;
    width: 400px;
    margin: 15px auto;
}

#modal-textbox {
    /* background-image: url("img/IMG_4403.JPG"); */
    background-color: whitesmoke;
    height: 375px;
    width:  450px;
    border: 5px solid whitesmoke;
    border-radius: 5px;
    margin: 150px auto;
    box-shadow: 0 2px 2px gray;
    font-size: 20px;
    text-align: unset;
    color: rgb(70, 68, 68);
    /* opacity: 85%; */
}

#modal-textbox p {
    text-align: justify;
    margin: 4%;
}


